.nav {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  z-index: 10000;
  position: fixed;
  margin: 57px;
  background: #0c0c0db3;
  width: 280px;
  max-height: calc(100% - 114px);
  border: 2px solid var(--blue_color);
  padding: 22px 22px 35px 22px;
  border-radius: var(--bd_radius);
}

/* -------------------------nav header--------------------------- */

.nav .keyword_top,
.nav .search_top {
  width: calc(280px - 44px);
}
.nav h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}
.keyword_top,
.search_top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 76px;
}
.search_top {
  margin-bottom: 56px;
}
.nav .nav_tabs .tab_button {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: var(--bg_color);
  border-radius: var(--bd_radius);
  border: 1.5px solid var(--blue_color);
  cursor: pointer;
}

.nav .tab_button:first-child {
  margin-right: 10px;
}
.nav .nav_tabs .tab_button.active {
  background: var(--blue_color);
}
.nav .refresh_btn {
  position: absolute;
  right: 16px;
  top: 75px;
  font-size: 24px;
  color: var(--blue_color);
  cursor: pointer;
  width: 22px;
  height: 22px;
}
.nav.keyword .title_search,
.nav.keyword .search_top {
  display: none;
}
.nav.search .keyword_search,
.nav.search .keyword_top {
  display: none;
}

/* -------------------------nav keyword--------------------------- */

.nav .keyword_search {
  width: 242px;
  height: calc(100% - 106px);
}

.nav .keyword_wrap {
  height: calc(100vh - 265px);
  overflow-y: scroll;
}

.nav .keyword_search .keyword h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
}
.nav .keyword {
  margin-right: 20px;
  padding: 14px 0px 0px 0px;
  border-top: 1px solid var(--blue_color);
}

.nav .keyword ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 9px 0px;
  margin-top: 23.5px;
  margin-bottom: 16px;
}

.nav .keyword ul li {
  cursor: pointer;
}

/* ---------------------------nav search----------------------------- */

.nav .search_form {
  position: relative;
  height: 36px;
  font-family: "Noto Sans KR", sans-serif;
}
.nav .search_form .input_box {
  position: relative;
  z-index: 200;
  font-size: 20px;
  width: 100%;
  padding: 4px 16px;
  background: var(--bg_color);
  color: var(--blue_color);
  border: 1.5px solid var(--blue_color);
  border-radius: 15px;
}
.nav .search_form .input_box input:focus {
  outline: none;
}

.nav .search_form .input_box input {
  border: none;
  background: var(--bg_color);
  color: var(--blue_color);
  font-weight: 500;
  width: calc(100% - 22px);
  font-size: 20px;
}
.nav .search_form .input_box span {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  right: 10px;
  top: 4px;
}

.nav .search_form .input_box input::placeholder {
  font-size: 18px;
  font-weight: 500;
}
.nav .search_form {
  font-size: 22px;
}
.nav #recommend {
  opacity: 0;
  padding-top: 45px;
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: 15px;
  background: var(--blue_color);
  color: var(--font-color);
}
.nav #recommend ul li {
  font-size: 20px;
  word-break: keep-all;
  padding: 10px 12px 20px 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.nav #recommend ul li span {
  width: 20px;
  height: 20px;
}
.nav #recommend.active {
  opacity: 1;
}

@media all and (max-width: 1023px) {
  /* 타블렛 */
}

@media all and (max-width: 820px) {
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* 모바일 */

  .nav {
    transition: 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    margin: 45px 35px;
    width: calc(100vw - 70px);
    height: calc(100% - 190px);
    padding: 26px 22px;
    overflow: hidden;
    transform: translateY(-100vh);
  }
  .nav.m-toggle {
    transform: translateY(0vh);
  }
  .mobile_toggle_btn {
    transition: 0.5s ease-in-out;
    transform-origin: center;
    transform: translateX(-50%) rotate(0deg);
  }
  .mobile_toggle_btn.active {
    transform: translateX(-50%) rotate(315deg);
  }

  .nav.keyword .title_search,
  .nav.keyword .search_top,
  .nav.search .keyword_search,
  .nav.search .keyword_top {
    display: block;
  }

  .nav h2 {
    font-size: 28px;
  }
  .nav .keyword_search .keyword h3 {
    font-size: 16px;
  }

  /* ----title---- */

  .nav .search_top {
    margin-bottom: 26px;
  }
  .nav .title_search {
    margin-bottom: 70px;
  }

  /* ---keyword--- */

  .nav .keyword_search {
    width: auto;
  }
  .nav.search .keyword_top,
  .nav.keyword .keyword_top {
    display: flex;
    margin-bottom: 20px;
    width: auto;
  }
  .nav .refresh_btn {
    position: relative;
    right: auto;
    top: auto;
    margin-right: 10px;
  }

  .nav .keyword {
    padding-top: 15px;
    margin-right: 10px;
  }

  .nav .keyword ul {
    gap: 14px 5px;
    justify-items: center;
    justify-content: center;
  }
  .nav .keyword ul li span {
    min-width: min(20vw, 104px);
    width: auto;
    font-size: 18px;
    height: 35px;
  }
  .nav .keyword ul.key_1 li:nth-child(2) span,
  .nav .keyword ul.key_1 li:nth-child(13) span,
  .nav .keyword ul.key_3 li:nth-child(2) span,
  .nav .keyword ul.key_3 li:nth-child(6) span {
    padding: 7px 5px;
    line-height: 1rem;
  }
  .nav .keyword_wrap {
    width: calc(100% + 14px);
    height: calc(100vh - 455px);
    /* overflow: hidden; */
  }
  .nav_tabs {
    display: none;
  }
}
