/* ---------------------------player----------------------------- */

.player_container.hide {
  display: none;
}
.player_container.active {
  display: block;
}
.player_container .player_toggle_btn {
  position: absolute;
  /* position: relative; */
  top: 16px;
  right: 16px;
  height: 30px;
  width: 30px;
  border-radius: var(--bd_radius);
  border: 2px solid var(--blue_color);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.player_container {
  z-index: 9000;
  position: fixed;
  width: 700px;
  /* height: 230px; */
  height: auto;
  bottom: 57px;
  left: 50%;
  transform: translateX(-50%);
}
.player_box {
  transition: 0.3s;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0c0c0db3;
  padding: 28px 20px 28px 28px;
  border: 2px solid var(--blue_color);
  border-radius: 20px;
  /* border-radius: var(--bd_radius); */
}
.player_box .thumbnail {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 302px;
  height: 172px;
  border: 2px solid var(--blue_color);
  border-radius: 15px;
  background: var(--bg_color);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.player_box .thumbnail iframe {
  margin: 0 auto;
}
.player_box .song_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 500;
  word-break: keep-all;
  margin-left: 20px;
  margin-top: 2px;
}
.player_box .song_data .song_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 17px;
}
.player_box .song_data .song_detail {
  width: 290px;
  height: 26px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 28px;
}

.player_box ul {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto;
  gap: 12px 6.5px;
  justify-content: center;
}

.player_box ul li {
  cursor: pointer;
}

.player_box ul li span {
  display: inline-block;
  background: var(--bg_color);
  border: 1.5px solid var(--blue_color);
  border-radius: var(--bd_radius);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 92px;
  padding: 6px 0;
}

.player_container .song_data .song_detail span.like::before {
  content: " | ";
}

.player_container.minimize {
  width: 600px;
  height: auto;
}

.minimize .thumbnail,
.minimize .song_detail,
.minimize .keyword_list {
  display: none;
}

.minimize .player_box {
  transition: 0.3s;
  padding: 7px;
  width: 100%;
  height: 50px;
  border-radius: var(--bd_radius);
}
.minimize .player_box .song_data {
  margin: 0px;
  width: 100%;
}
.minimize .player_box .song_data .song_title {
  margin: 0px 0px 0px 30px;
  justify-content: flex-start;
  width: 100%;
  line-height: 0px;
}

.minimize .player_toggle_btn {
  position: relative;
  top: 0px;
  right: 0px;
  height: 30px;
  width: 30px;
  border-radius: var(--bd_radius);
  border: 2px solid var(--blue_color);
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
/* .minimize .player_box:hover {
  height: 55px;
} */

@media all and (max-width: 1400px) {
  /* 타블렛 */
  .player_container {
    left: auto;
    right: 57px;
    transform: none;
  }
}

@media all and (max-width: 820px) {
  .more_info.active {
    display: none;
  }

  .player_container {
    height: auto;
    max-width: 85%;
    width: 330px;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%) translateY(0vh);
  }
  .player_container.active {
    transform: translateX(-50%) translateY(0vh);
  }
  .player_box {
    flex-direction: column-reverse;
    padding: 20px;
    min-height: 430px;
  }
  .player_box ul {
    display: flex;
    gap: 9px 8px;
    margin-bottom: 27px;
  }
  .player_box ul li span {
    width: 85px;
    min-width: min(85px, 30%);
  }
  .player_box .thumbnail {
    max-width: 270px;
    max-height: 153px;
    width: 100%;
    height: 40vw;
  }
  .player_box .song_data {
    margin: auto;
  }
  .player_box .song_data .song_title {
    word-break: keep-all;
    width: auto;
    max-width: 60vw;
    font-size: 28px;
    margin-bottom: 27px;
  }
  .player_box .song_data .song_detail {
    width: 100%;
    height: auto;
    padding-top: 12px;
    border-top: 2px solid var(--blue_color);
  }

  .minimize .player_box {
    display: flex;
    flex-direction: row;
    height: 30px;
  }
  .minimize .player_box .song_data .song_title {
    font-size: 14px !important;
    width: 100%;
    max-width: 100%;
  }
  .minimize .player_toggle_btn {
    width: 17px;
    height: 17px;
    border: 1px solid var(--blue_color);
    font-size: 10px;
  }
}
@media all and (max-width: 320px) {
  .nav .keyword ul li span {
    min-width: min(27vw, 90px);
  }
}
