/* --------------------------------------------------------------- */
/* ----------------------------star------------------------------ */
/* --------------------------------------------------------------- */

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2000px;
  height: 2000px;
}
.star_filter {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 1s ease 0s;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
.star_filter .product,
.info_container {
  width: 2000px;
  height: 2000px;
  min-width: 2000px;
  min-height: 2000px;
  position: absolute;
  /* transform-origin: center center; */
  /* transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); */
  transition: 0.3s;
  top: 0px;
  left: 0px;
  transform: translate(0px, 0px);
  width: 2500px;
  height: 2000px;
  margin-right: 500px;
  min-width: 2500px;
  min-height: 2000px;
}
.star_filter .product {
  background: #333333;
}

.star_filter .product .itemBox {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.star_filter .product .itemBox.hide {
  visibility: hidden;
  opacity: 0;
}

.star_filter .product .itemBox .item_img {
  width: auto;
  height: auto;
}

.star_filter .product .itemBox .item_img div.img_0 {
  width: 5px;
  height: 5px;
  background: url("./asset/img_0.svg");
}
.star_filter .product .itemBox .item_img div.img_1 {
  width: 7px;
  height: 7px;
  background: url("./asset/img_1.svg");
}
.star_filter .product .itemBox .item_img div.img_2 {
  width: 9px;
  height: 9px;
  background: url("./asset/img_2.svg");
}
.star_filter .product .itemBox .item_img div.img_3 {
  width: 15px;
  height: 15px;
  background: url("./asset/img_3.svg");
}
.star_filter .product .itemBox .item_img div.img_4 {
  width: 25px;
  height: 25px;
  background: url("./asset/img_4.svg");
}
.star_filter .product .itemBox .item_img div.img_5 {
  width: 32px;
  height: 32px;
  background: url("./asset/img_5.svg");
}
.star_filter .product .itemBox .item_img div.img_black {
  width: 200px;
  height: 200px;
  background: url("./asset/img_black.svg");
}
.star_filter .product .itemBox .item_img div.img_event {
  width: 200px;
  height: 200px;
  background: url("./asset/img_event.svg");
}
.star_filter .product .itemBox .item_img div.img_comet1 {
  width: 100px;
  height: 100px;
  background: url("./asset/img_comet1.svg");
}
.star_filter .product .itemBox .item_img div.img_comet2 {
  width: 100px;
  height: 100px;
  background: url("./asset/img_comet2.svg");
}
.star_filter .product .itemBox .item_img div.img_cloud {
  width: 100px;
  height: 100px;
  background: url("./asset/img_cloud.svg");
}

/* .star_filter .product.toggle {
  transform: scale(0.5);
}

.star_filter .product.toggle .itemBox {
  transition: 0.7s;
  transition-delay: 0.3s;
  transform: scale(2);
} */

/* @media all and (max-height: 2000px) {
  .star_filter .product {
    transform: translateY(-25%);
  }
  .star_filter .product.toggle {
    transform: scale(0.5);
    transform: translateY(-25%) scale(0.5);
  }
} */

/* ----------------------info-------------------------- */

.song_info {
  /* z-index: 12000; */
  /* position: relative; */
  /* transform: translateY(-100px); */
  /* width: 100px; */
  /* visibility: hidden; */
  /* opacity: 0; */
  /* display: none; */
  /* display: block; */
}
.song_info {
  position: relative;
  z-index: 1000;
  display: block;
  width: 100px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  background: var(--blue_color);
  color: var(--bg_color);
  border-radius: var(--bd_radius);
  transition: 0.2s;
}
/* .song_info::before {
  content: "";
  height: 60px;
  width: 1px;
  border-left: 4px dotted var(--blue_color);
  position: absolute;
  left: 50%;
  top: 35px;
} */

.song_info .title {
  display: inline-block;
  font-size: 1em;
  padding: 8px 20px;
  text-align: center;
  font-weight: 500;
}

.item_img:hover + .song_info {
  display: block;
  /* visibility: visible; */
  /* opacity: 1; */
}

.center_star {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--blue_color);
  border: none;
}
.center_2 {
  top: 1000px;
  left: 1000px;
  width: 20px;
  height: 20px;
  background: #d86969;
}
