@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap");
@import url("https://use.typekit.net/nnl0koe.css");
* {
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

:root {
  --bg_color: #0b0b0c;
  --blue_color: #407ed9;
  --font-color: #ffffff;
  --bd_radius: 30px;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: var(--blue_color);
  border-radius: var(--bd_radius);
}
::-webkit-scrollbar-track {
  /* background: var(--blue_color); */
  background: url("./asset/scroll-track.png");
  background-position: center;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg_color);
  color: var(--blue_color);
  overflow: hidden;
}

/* --------------------------------------------------------------- */
/* ----------------------------button----------------------------- */
/* --------------------------------------------------------------- */

.btn {
  display: inline-block;
  background: var(--bg_color);
  border: 1.5px solid var(--blue_color);
  border-radius: var(--bd_radius);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  min-width: 104px;
  padding: 7px 13px;
  transition: 0.1s;
}

.btn.on {
  background: var(--blue_color);
  color: var(--bg_color);
}

.btn:hover {
  background: var(--blue_color);
  color: var(--font-color);
}
.btn.on:hover {
  background: var(--blue_color);
  color: var(--font-color);
}

/* --------------------------------------------------------------- */
/* ---------------------------select----------------------------- */
/* --------------------------------------------------------------- */

.select_key {
  z-index: 1000;
  position: fixed;
  top: 57px;
  width: 100%;
  /* left: 512px; */
  /* left: 24vw; */
}

.select_key ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(100% - 280px - 250px - 114px - 174px);
  margin: 0 auto;
  gap: 17px;
}

/* --------------------------------------------------------------- */
/* ---------------------------result----------------------------- */
/* --------------------------------------------------------------- */
.result_container {
  position: fixed;
  z-index: 8000;
  top: 57px;
  right: 57px;
  width: 250px;
  /* height: calc(100vh - 114px); */
  display: flex;
  flex-direction: column;
}
.result_box {
  border-radius: var(--bd_radius);
  height: 0px;
  transform-origin: top;
  transition: 0.3s;
}
.result_box .result_header {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  border: 2px solid var(--blue_color);
  background: var(--bg_color);
  border-radius: var(--bd_radius);
  color: var(--blue_color);
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  padding: 10px 0 3px 0;
  transition: 0.3s;
}

.result_box.active {
  height: calc(100% - 480px - 35px);
  background: hsla(216, 67%, 55%, 0.65);
  padding-bottom: 30px;
  transition: 0s;
}

.result_box.active .result_header {
  background: var(--blue_color);
  color: var(--bg_color);
  margin-bottom: 30px;
}
.result_box.active .result_list {
  opacity: 1;
}
.result_box .result_list {
  height: calc(100% - 80px);
  max-height: 35vh;
  min-height: 30px;
  overflow-y: scroll;
  margin-right: 12.5px;
  padding: 0px 12.5px 0px 30px;
  opacity: 0;
  transition: 0.3s;
}
.result_box ul {
  opacity: 0;
}
.result_box.active ul {
  opacity: 1;
}
.result_box .result_list ul li {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 22px;
  color: var(--blue_color);
  cursor: pointer;
}
.result_box .result_list ul li.on {
  color: var(--font-color);
}
.result_box .result_list ul li:last-child {
  padding-bottom: 0px;
}

.result_box + .player_box {
  opacity: 0;
  transition: 0.3s;
}
.result_box.active + .player_box {
  opacity: 1;
}

@media all and (max-width: 2000px) {
}

.more_info,
.mobile_toggle_btn {
  display: none;
}

.anim_test {
  text-transform: uppercase;
  padding: 5px 10px;
  position: fixed;
  z-index: 99999;
  top: 10px;
  left: 30px;
  border: 1.5px solid var(--blue_color);
  border-radius: var(--bd_radius);
  color: #ffffff;
  background: var(--bg_color);
  cursor: pointer;
  /* display: none; */
}
.test2 {
  left: 100px;
}

@media all and (max-width: 1023px) {
  /* 타블렛 */
}

@media all and (max-width: 820px) {
  .anim_test {
    bottom: 10px;
    top: auto;
  }
  /* 모바일 */

  .btn {
    min-width: 90px;
    font-size: 17px;
    padding: 7px 5px;
  }

  .result_container {
    width: 140px;
    border-radius: 40px;
    right: auto;
    left: min(8vw, 35px);
    top: 45px;
  }
  .result_box.active {
    border-radius: 20px 20px 14px 14px;
    padding-bottom: 14px;
  }
  .result_box .result_header {
    font-size: 18px;
  }
  .result_box.active .result_header {
    margin-bottom: 14px;
    color: var(--font-color);
  }
  .result_box.active .result_list {
    padding: 0px 12.5px 0px 20px;
    max-height: 220px;
  }

  .result_box .result_list ul li {
    font-size: 14px;
    padding-bottom: 14px;
  }
  .nav #recommend.active {
    padding-top: 55px;
  }
  .nav #recommend ul li.item {
    padding: 0px 15px 20px 17px;
  }
  .mobile_toggle_btn {
    position: fixed;
    z-index: 11000;
    bottom: 70px;
    width: 50px;
    height: 50px;
    background-color: var(--blue_color);
    border-radius: 50%;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .select_key {
    top: 50px;
  }
  .select_key ul {
    margin-right: min(20vw, 90px);
    gap: 11px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }

  .more_info.active {
    display: block;
  }

  .more_info {
    display: none;
    position: fixed;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
  }
  .more_info span {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 15px;
  }
}

.stop-scroll {
  overflow: hidden;
}

@media all and (max-width: 320px) {
}
