@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap");
@import url("https://use.typekit.net/nnl0koe.css");
* {
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

:root {
  --bg_color: #0b0b0c;
  --blue_color: #407ed9;
  --font-color: #ffffff;
  --bd_radius: 30px;
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-thumb {
  width: 1px;
  background-color: var(--blue_color);
  border-radius: var(--bd_radius);
}
::-webkit-scrollbar-track {
  /* background: var(--blue_color); */
  background: url("./asset/scroll-track.png");
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg_color);
  color: var(--blue_color);
}

/* --------------------------------------------------------------- */
/* ----------------------------button----------------------------- */
/* --------------------------------------------------------------- */

.btn {
  display: inline-block;
  background: var(--bg_color);
  border: 1.5px solid var(--blue_color);
  border-radius: var(--bd_radius);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  min-width: 104px;
  padding: 7px 13px;
}

.btn.on {
  background: var(--blue_color);
  color: var(--bg_color);
}

/* --------------------------------------------------------------- */
/* -------------------------nav keyword--------------------------- */
/* --------------------------------------------------------------- */

.nav {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  z-index: 10000;
  position: fixed;
  margin: 57px;
  background: #0c0c0db3;
  width: 280px;
  height: calc(100% - 114px);
  border: 2px solid var(--blue_color);
  padding: 22px;
  border-radius: var(--bd_radius);
}

.nav .nav_header {
  position: relative;
}
.nav .nav_header .header_top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 76px;
}

.nav .nav_header .nav_tabs .tab_button {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: var(--bg_color);
  border-radius: var(--bd_radius);
  border: 1.5px solid var(--blue_color);
  cursor: pointer;
}
.nav .tab_button:first-child {
  margin-right: 10px;
}
.nav .nav_header .nav_tabs .tab_button.active {
  background: var(--blue_color);
}
.nav .refresh_btn {
  position: absolute;
  right: 16px;
  top: 70px;
  font-size: 24px;
  color: var(--blue_color);
  cursor: pointer;
}
.nav h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
}
.nav .keyword_search {
  overflow-y: scroll;
  width: 244px;
  height: calc(100% - 106px);
  padding-right: 12.5px;
}

.nav .keyword_search .keyword h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
}
.nav .keyword {
  padding: 14px 0px;
  border-top: 1px solid var(--blue_color);
}

.nav .keyword ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 9px 0px;
  margin-top: 23.5px;
  margin-bottom: 16px;
}

.nav .keyword ul li {
  cursor: pointer;
}

.nav.keyword .search_form {
  display: none;
}

/* ---------------------------nav search----------------------------- */

.nav.search .keyword_search,
.nav.search .refresh_btn {
  display: none;
}

.nav.search {
  height: auto;
  padding-bottom: 35px;
  background: #0c0c0db3;
}
.nav.search .header_top {
  margin-bottom: 56px;
}
.nav.search .title_search {
  font-family: "Noto Sans KR", sans-serif;
}
.nav.search .search_form {
  position: relative;

  height: 36px;
}
.nav.search .search_form .input_box {
  position: relative;
  z-index: 200;
  font-size: 20px;
  width: 100%;
  padding: 4px 16px;
  background: var(--bg_color);
  color: var(--blue_color);
  border: 1.5px solid var(--blue_color);
  border-radius: 15px;
}
.nav.search .search_form .input_box input:focus {
  outline: none;
}
.nav.search .search_form .input_box input {
  border: none;
  background: var(--bg_color);
  color: var(--blue_color);
  font-weight: 500;
  width: calc(100% - 22px);
  font-size: 20px;
}

.nav.search .search_form .input_box input::placeholder {
  font-size: 18px;
  font-weight: 500;
}
.nav.search .search_form {
  font-size: 22px;
}
.nav.search #recommend {
  opacity: 0;
  padding-top: 35px;
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: 15px;
  background: var(--blue_color);
  color: var(--font-color);
}
.nav.search #recommend ul li {
  font-size: 20px;
  word-break: keep-all;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav.search #recommend.active {
  opacity: 1;
}
/* --------------------------------------------------------------- */
/* ---------------------------select----------------------------- */
/* --------------------------------------------------------------- */

.select_key {
  z-index: 1000;
  position: fixed;
  top: 57px;
  width: 100%;
  /* left: 512px; */
  /* left: 24vw; */
}

.select_key ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(100% - 280px - 250px - 114px - 174px);
  margin: 0 auto;
  gap: 17px;
}

/* --------------------------------------------------------------- */
/* ---------------------------result----------------------------- */
/* --------------------------------------------------------------- */
.result_container {
  position: fixed;
  z-index: 9999;
  top: 57px;
  right: 57px;
  width: 250px;
  height: calc(100vh - 114px);
  display: flex;
  flex-direction: column;
}
.result_box {
  border-radius: var(--bd_radius);
  padding-bottom: 30px;
  height: 0px;
  margin-bottom: 35px;
  transition: 0.5s;
}
.result_box .result_header {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  border: 2px solid var(--blue_color);
  background: var(--bg_color);
  border-radius: var(--bd_radius);
  color: var(--blue_color);
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  padding: 12px 0 3px 0;
  transition: 0.3s;
}

.result_box.active {
  height: calc(100% - 480px - 35px);
  background: hsla(216, 67%, 55%, 0.65);
}

.result_box.active .result_header {
  background: var(--blue_color);
  color: var(--bg_color);
}
.result_box.active .result_list {
  opacity: 1;
}
.result_box .result_list {
  height: calc(100% - 80px);
  overflow-y: scroll;
  margin-top: 30px;
  margin-right: 12.5px;
  padding: 0px 12.5px 0px 30px;
  opacity: 0;
}
.result_box .result_list ul li {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 22px;
  color: var(--blue_color);
  cursor: pointer;
}
.result_box .result_list ul li:first-child {
  color: var(--font-color);
}
.result_box .result_list ul li:last-child {
  padding-bottom: 0px;
}

.result_box + .player_box {
  opacity: 0;
  transition: 0.3s;
}
.result_box.active + .player_box {
  opacity: 1;
}
/* --------------------------------------------------------------- */
/* ---------------------------player----------------------------- */
/* --------------------------------------------------------------- */
.player_container {
  z-index: 9000;
  position: fixed;
  width: 700px;
  height: 230px;
  bottom: 57px;
  left: 50%;
  transform: translateX(-50%);
}
.player_box {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0c0c0db3;
  padding: 28px 20px 28px 28px;
  border: 2px solid var(--blue_color);
  border-radius: var(--bd_radius);
}
.player_box .thumbnail {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 302px;
  height: 172px;
  border: 2px solid var(--blue_color);
  border-radius: 15px;
  background: var(--bg_color);
}
.player_box .thumbnail iframe {
  margin: 0 auto;
}
.player_box .song_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 500;
  word-break: keep-all;
  margin-left: 20px;
  margin-top: 2px;
}
.player_box .song_data .song_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 17px;
}
.player_box .song_data .song_detail {
  width: 290px;
  height: 26px;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 28px;
}

.player_box ul {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px 6.5px;
  justify-content: center;
}

.player_box ul li {
  cursor: pointer;
}

.player_box ul li span {
  display: inline-block;
  background: var(--bg_color);
  border: 1.5px solid var(--blue_color);
  border-radius: var(--bd_radius);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 92px;
  padding: 6px 0;
}

.player_box ul li:first-child span,
.player_box li:nth-child(3) span,
.player_box li:nth-child(4) span {
  background: var(--blue_color);
  color: var(--bg_color);
}

/* --------------------------------------------------------------- */
/* ----------------------------star------------------------------ */
/* --------------------------------------------------------------- */

.container {
  width: 100vw;
  height: 100vh;
}
.star_filter {
  width: 100%;
  height: 100%;
}
.star_filter .product {
  width: 100%;
  height: 100%;
  transform-origin: center;
  transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.star_filter .product .itemBox {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.star_filter .product .itemBox.hide {
  visibility: hidden;
  opacity: 0;
}

.star_filter .product .itemBox .item_img {
  width: 40px;
  height: 40px;
}

.star_filter .product.toggle {
  transform: scale(0.5);
}

.star_filter .product.toggle .itemBox {
  transition: 0.7s;
  transition-delay: 0.3s;
  transform: scale(2);
}
.star_filter .product.toggle .itemBox .song_info {
  z-index: 9999;
  transition: 0.2s;
}

/* ----------------------info-------------------------- */

.song_info {
  z-index: 9999;
  position: relative;
  transform: translateY(-140px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  font-size: 20px;
  background: var(--blue_color);
  color: var(--bg_color);
  border-radius: var(--bd_radius);
}
.song_info::before {
  content: "";
  height: 60px;
  width: 1px;
  border-left: 4px dotted var(--blue_color);
  position: absolute;
  left: 50%;
  top: 35px;
}

.song_info .title {
  display: inline-block;
  font-size: 1em;
  padding: 8px 20px;
  text-align: center;
  font-weight: 500;
}

/* .star_filter .product.toggle .itemBox:hover .song_info {
  visibility: visible;
  opacity: 1;
} */
.itemBox:hover .song_info {
  visibility: visible;
  opacity: 1;
}

.anim_test {
  text-transform: uppercase;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  left: 30px;
  border: 1.5px solid var(--blue_color);
  border-radius: var(--bd_radius);
  color: #ffffff;
  background: var(--bg_color);
  /* display: none; */
}

@media all and (max-width: 1023px) {
  /* 타블렛 */
}

@media all and (max-width: 768px) {
  /* 모바일 */
  /* .nav {
    width: calc(100vw - 114px);
    transform: translateX(-100vw);
    backdrop-filter: blur(4px);
    background-color: #ffffff88;
  }
  .nav.active {
    transform: translateX(0px);
  }
  .nav_toggle {
    right: -60px;
    background-color: #ffffff;
  }
  .nav_toggle.active {
    color: #ffffff;
    background-color: transparent;
    right: 0px;
    transform: rotate(360deg);
  } */
}

.stop-scroll {
  overflow: hidden;
}
