* {
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6c8291;
  background-color: var(--bg_color);
}

:root {
  --bg_color: #222222;
}

.container {
  /* width: 100vw; */
  /* height: 100vh; */
  background-color: var(--bg_color);
}

.nav {
  z-index: 10000;
  position: fixed;
  /* float: left; */
  /* position: sticky; */
  padding: 30px;
  background-color: #ffffff;
  background-color: rgb(255, 255, 255);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transform: translateX(-300px);
  transition: 0.3s;
  justify-content: space-around;
  top: 0vh;
  left: 0vw;
  right: 100vw;
}

.nav.active {
  transform: translateX(0px);
}

.nav h1 {
  font-size: 3rem;
  font-weight: 700;
}
.nav .keyword {
  padding: 20px;
}
.nav .keyword ul {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 10px;
}
.nav .keyword ul li {
  cursor: pointer;
}
.nav .keyword ul li span {
  display: inline-block;
  font-size: 20px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: steelblue;
  color: aliceblue;
  border-radius: 25px;
}

.nav .keyword ul li span.on {
  background-color: lightskyblue;
}
.nav h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.nav .selected span {
  display: inline-block;
  font-size: 1.2rem;
  margin: 10px;
}
.nav .nav_toggle {
  position: absolute;
  top: 20px;
  right: -60px;
  width: 60px;
  padding: 10px 20px;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
  padding-left: 5px;
  background-color: #ffffff;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
  transition: 0.3s;
}
.star_line {
  content: "";
  position: absolute;
  width: 428px;
  height: 3px;
  border-top: 3px dotted aliceblue;
  transform-origin: top left;
}

/* ----------------------filter-------------------------- */
.star_filter {
  padding: 20px;
}
.star_filter .product {
  display: grid;
  justify-content: center;
  grid-template-columns: 40px 40px 40px 40px;
  gap: 200px 300px;
  margin-top: 100px;
}

.star_filter .product .itemBox.hide {
  visibility: hidden;
  opacity: 0;
}

.star_filter .product .itemBox .item_img {
  /* background-color: aliceblue; */
  /* width: 40px; */
  /* height: 40px; */
  border-radius: 100px;
}

.star_filter .product {
  transform-origin: center;
  transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.star_filter .product.toggle {
  transform: scale(0.5);
}

.star_filter .product .itemBox {
  cursor: pointer;
  transition: 0.2s;
}
.star_filter .product.toggle .itemBox {
  transition: 0.3s;
  transform: scale(2);
}
.star_filter .product.toggle .itemBox .song_info {
  transition: 0.2s;
}
.star_filter .product .itemBox .star_line {
  transform: scale(0.8);
}

/* ----------------------info-------------------------- */

.song_info {
  display: grid;
  position: absolute;
  transform: translateX(-45%) translateY(-75px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  z-index: 1988;
}

.song_info .title {
  font-size: 1.1rem;
  text-align: center;
  background-color: aliceblue;
  width: 160px;
  padding: 10px 0;
  font-weight: 700;
  border-radius: 25px;
}

.itemBox:hover .song_info {
  visibility: visible;
  opacity: 1;
}

/* ----------------------search-------------------------- */

.nav .search_form {
  display: flex;
  width: 100%;
}

.nav .search_form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 5px 10px;
  border: 3px solid var(--bg_color);
  border-right: none;
  border-radius: 25px 0px 0px 25px;
}
.nav .search_form button {
  padding-right: 10px;
  width: 60px;
  border: 3px solid var(--bg_color);
  border-left: 1px solid var(--bg_color);
  border-radius: 0px 25px 25px 0px;
  background-color: #ffffff;
}

.nav .search_form input:focus {
  outline: none;
}
.search_form:focus-within {
  border-radius: 25px;
  box-shadow: 0 0 5px 0 #209aeb;
}

.search {
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: var(--bg_color);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search .search_title {
  font-size: 1.3rem;
  font-weight: 700;
  border: 1px solid var(--bg_color);
  background-color: #ffffff;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 44px;
}

.search .search_img {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  background-image: url(https://t1.daumcdn.net/news/201904/07/fnnewsi/20190407131759582paxb.jpg);
  background-size: 380px;
  background-position: center;
  border-radius: 200px;
  border: 1px solid var(--bg_color);
  overflow: hidden;
}

.search .search_keywords {
  display: grid;
  width: 200px;
  grid-template-columns: auto auto;
  gap: 10px;
}

.search .search_keywords li {
  background-color: #ffffff;
  border: 1px solid var(--bg_color);
  font-weight: 700;
  text-align: center;
  width: 100px;
  height: 44px;
  padding: 10px;
  border-radius: 50px;
  font-size: 1.4rem;
}

.search .search_play_btn {
  width: 100%;
  padding: 5px 20px;
  font-size: 2rem;
  border-radius: 20px;
  border: none;
  background-color: #ffffff;
}

.anim_test {
  position: absolute;
  padding: 10px 20px;
  left: 50%;
}

@media all and (max-width: 1023px) {
  /* 타블렛 */
}

@media all and (max-width: 768px) {
  /* 모바일 */
  /* .nav {
    width: calc(100vw);
    transform: translateX(-100vw);
    backdrop-filter: blur(4px);
    background-color: #ffffff88;
  }
  .nav.active {
    transform: translateX(0px);
  }
  .nav_toggle {
    right: -60px;
    background-color: #ffffff;
  }
  .nav_toggle.active {
    color: #ffffff;
    background-color: transparent;
    right: 0px;
    transform: rotate(360deg);
  } */
}

.stop-scroll {
  overflow: hidden;
}
