* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg_color: #222222;
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--bg_color);
}

.nav {
  z-index: 10000;
  position: absolute;
  padding: 30px;
  background-color: #ffffff;
  background-color: rgb(255, 255, 255);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  transform: translateX(-300px);
  transition: 0.3s;
  justify-content: space-around;
}

.nav.active {
  transform: translateX(0px);
}

.nav h1 {
  font-size: 3rem;
  font-weight: 700;
}
.nav .keyword {
  padding: 20px;
}
.nav .keyword ul {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 10px;
}
.nav .keyword ul li {
  cursor: pointer;
}
.nav .keyword ul li span {
  display: inline-block;
  font-size: 20px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: steelblue;
  color: aliceblue;
  border-radius: 25px;
}

.nav .keyword ul li span.on {
  background-color: lightskyblue;
}
.nav h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.nav .selected span {
  display: inline-block;
  font-size: 1.2rem;
  margin: 10px;
}
.nav .nav_toggle {
  position: absolute;
  top: 20px;
  right: -60px;
  width: 60px;
  padding: 10px 20px;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
  padding-left: 5px;
  background-color: #ffffff;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
  transition: 0.3s;
}
.nav .nav_toggle:hover {
  background-color: darkgrey;
}

.star_line {
  content: "";
  position: absolute;
  width: 428px;
  height: 3px;
  border-top: 3px dotted aliceblue;
  transform-origin: top left;
}

/* ----------------------info-------------------------- */

.space .song_info {
  display: grid;
  gap: 20px;
  position: absolute;
  background-color: var(--bg_color);
  border: 3px solid aliceblue;
  border-radius: 15px;
  top: 110%;
  left: -50%;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.space .song_info .title {
  font-size: 1.1rem;
  text-align: center;
  background-color: aliceblue;
  width: 100%;
  padding: 10px 0;
  font-weight: 700;
  border-radius: 25px;
}

.space .song_info .thumbnail {
  background-color: aliceblue;
  background-image: url(https://t1.daumcdn.net/news/201904/07/fnnewsi/20190407131759582paxb.jpg);
  background-size: 160px;
  width: 160px;
  height: 80px;
  box-shadow: 0 0 3px 0 #00000033;
}

.space .song_info .song_play_btn {
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.space .star:hover .song_info {
  visibility: visible;
  opacity: 1;
}

/* ----------------------filter-------------------------- */
.star_filter {
  padding: 20px;
}
.star_filter ul {
  display: flex;
  position: relative;
  margin-bottom: 100px;
  justify-content: center;
}
.star_filter ul li {
  color: aliceblue;
  border: 3px solid aliceblue;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.star_filter ul li.active {
  border: 3px solid aliceblue;
  background-color: aliceblue;
  color: var(--bg_color);
}
.star_filter .product {
  display: grid;
  justify-content: center;
  grid-template-columns: 20px 20px 20px;
  gap: 400px;
  margin-top: 100px;
}

.star_filter .product .itemBox.hide {
  background-color: midnightblue;
  visibility: hidden;
  opacity: 0;
}

.star_filter .product .itemBox .item_img {
  background-color: aliceblue;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}

.song_info {
  display: grid;
  gap: 20px;
  position: absolute;
  background-color: var(--bg_color);
  border: 3px solid aliceblue;
  border-radius: 15px;
  transform: translateX(-52px) translateY(15px);
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  z-index: 1988;
}

.song_info .title {
  font-size: 1.1rem;
  text-align: center;
  background-color: aliceblue;
  width: 100%;
  padding: 10px 0;
  font-weight: 700;
  border-radius: 25px;
}

.song_info .thumbnail {
  background-color: aliceblue;
  background-image: url(https://t1.daumcdn.net/news/201904/07/fnnewsi/20190407131759582paxb.jpg);
  background-size: 160px;
  width: 160px;
  height: 80px;
  box-shadow: 0 0 3px 0 #00000033;
}

.song_info .song_play_btn {
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.itemBox:hover .song_info {
  visibility: visible;
  opacity: 1;
}

/* ----------------------search-------------------------- */

.nav .search_form {
  display: flex;
  width: 100%;
}

.nav .search_form input {
  width: 100%;
  font-size: 1.2rem;
  padding: 5px 10px;
  border: 3px solid var(--bg_color);
  border-right: none;
  border-radius: 25px 0px 0px 25px;
}
.nav .search_form button {
  padding-right: 10px;
  width: 60px;
  border: 3px solid var(--bg_color);
  border-left: 1px solid var(--bg_color);
  border-radius: 0px 25px 25px 0px;
  background-color: #ffffff;
}

.nav .search_form input:focus {
  outline: none;
}
.search_form:focus-within {
  border-radius: 25px;
  box-shadow: 0 0 5px 0 #209aeb;
}

.search {
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: var(--bg_color);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search .search_title {
  font-size: 1.3rem;
  font-weight: 700;
  border: 1px solid var(--bg_color);
  background-color: #ffffff;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.search .search_img {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  background-image: url(https://t1.daumcdn.net/news/201904/07/fnnewsi/20190407131759582paxb.jpg);
  background-size: 380px;
  background-position: center;
  border-radius: 200px;
  border: 1px solid var(--bg_color);
  overflow: hidden;
}

.search .search_keywords {
  display: grid;
  width: 200px;
  grid-template-columns: auto auto;
  gap: 10px;
}

.search .search_keywords li {
  background-color: #ffffff;
  border: 1px solid var(--bg_color);
  font-weight: 700;
  text-align: center;
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  font-size: 1.4rem;
}

.search .search_play_btn {
  width: 100%;
  padding: 5px 20px;
  font-size: 2rem;
  border-radius: 20px;
  border: none;
  background-color: #ffffff;
}

.anim_test {
  position: absolute;
  padding: 10px 20px;
  left: 50%;
}
.star_filter {
  overflow: hidden;
}
.star_filter .product {
  transform-origin: center;
  transition: 0.3s;
}
.star_filter .product.toggle {
  transform: scale(0.8);
}
.star_filter .product .itemBox {
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
.star_filter .product.toggle .itemBox {
  transform: scale(1.2);
}
